# Build-time Cloudflare and Studio configuration
NUXT_HUB_CLOUDFLARE_DATABASE_ID=
NUXT_STUDIO_REPOSITORY_OWNER=
NUXT_STUDIO_REPOSITORY_NAME=
NUXT_STUDIO_REPOSITORY_PRIVATE=true

# Runtime Nuxt Studio GitHub OAuth secrets
STUDIO_GITHUB_CLIENT_ID=
STUDIO_GITHUB_CLIENT_SECRET=
STUDIO_GITHUB_MODERATORS=
NUXT_STUDIO_AUTH_SESSION_SECRET=
